@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    box-sizing:border-box;
    margin:0px;
    padding:0;
    font-family:Poppins, sans-serif;
}
body{
    background-color:#1f242d;
    color:white;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    z-index:100;
}
.logo{
    font-size:2em;
    color:white;
    text-decoration: none;
    font-weight:600;
    opacity:1;
    animation: slideright 1s;
}
.navbar a{
    display:inline-block;
    font-size:18px;
    text-decoration:none;
    color:white;
    font-weight: 500;
    margin-left:35px;
    opacity:0;
    animation: slidetop 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}
.navbar{
    padding-right:50px;
    transition:0.2s;
}
.navbar a:hover,
.navbar a.active{
    color:#0ef;

}
.home{
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:70px 10% 0;
}
.home_img img{
    max-width:450px;
    max-height: 450px;
    opacity:0;
    animation: zoomin 1s ease forwards,floatimage 4s ease-in-out infinite;
    animation-delay:2s;
}
.home-cont{
    max-width:600px;
}
.home-cont h3{
    font-size:32px;
    font-weight:700;
    opacity: 0;
    animation:slidebottom 1.5s ease forwards;
    animation-delay: 0.5s;
}
.home-cont h1{
    font-size:60px;
    font-weight:700;
    margin:-3px;
    opacity:0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}
.home-cont h3 span{
    color:#0ef;
}
.home-cont h3:nth-of-type(2){
    margin-bottom:30px;
    opacity:0;
    animation: slidetop 1.5s ease forwards;
    animation-delay: 1.5s;
}
.home-cont p{
    font-size:15px;
    margin-bottom:30px;
    opacity:0;
    animation: slideright 1s ease forwards;
    animation-delay:2s;
}
.social-media a{
    opacity:0;
    animation: slideleft 1s ease forwards;
    display:inline-flex;
    width:40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 50%;
    background:transparent;
    justify-content: center;
    align-items: center;
    color:#0ef;
    text-decoration: none;
    margin:5px;
    transition: 0.2s;
    animation-delay: calc(0.5s * var(--i));
}
.social-media a:hover{
    color:black;
    background:#0ef;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    margin-top:15px;
    display:inline-block;
    padding:10px 18px;
    background:#0ef;
    border:2px solid #0ef;
    border-radius: 40px;
    color:black;
    text-decoration: none;
    font-size:15px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #0ef;
    opacity:0;
    animation: slideright 1s ease forwards;
    animation-delay:3s;
}
@keyframes slideright{
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
@keyframes slidetop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidebottom{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideleft{
    0%{
        opacity: 0;
        transform: translatex(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes zoomin{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatimage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}